# Frontend
Frontend/mundial-app/node_modules/
Frontend/mundial-app/.next/
Frontend/mundial-app/coverage/

# Backend
Backend/worldCup/target/
Backend/worldCup/.env

# IDE / OS
**/.idea/
**/.vscode/
**/.DS_Store
**/Thumbs.db
